#logout{
    position: relative;
    left: 1250px;
    bottom: 70px;
}
#title{
    position: absolute;
    bottom: 280px;
    left: 600px;
    color: white;
}

.helloUser {
    position: absolute;
    right: 100px;
    top: 9px;
}


.location-image{
    height:200px;
    width: 100%;
    border-bottom: 3px solid black;
}



.disp {
    display: flex;
  justify-content: space-evenly;
  }

#opening{
    width: 800px;
}

.card-size{
    width: 400px;
}



.location-index-width{
    width:1400px;
    margin:0 auto;
}

.card-border{
    border: 3px solid black;
    margin-bottom: 50px;
}
.location-details-width{
    width:1400px;
    margin:0 auto;
}
.details-image{
    border: 3px solid red;
    width:100%;
    padding:0;
}
.details-row{
    padding-left: 0;
    padding-right:0;
}


div ul li a {
    display: inline-block;
}



.admin-invisible{
    display: none;
}

.admin-visible{
    display: initial;
}
