#logout{
    position: relative;
    left: 1250px;
    bottom: 70px;
}
#title{
    position: absolute;
    bottom: 280px;
    left: 600px;
    color: white;
}

.helloUser{
    position: absolute;
    right: 105px;
    top: 50px;

}

.details-image{
    border: 3px solid red;
    width:100%;
    padding:0;
}
.details-row{
    padding-left: 0;
    padding-right:0;
}
.location-index-width{
    width:1000px;
    margin:0 auto;
}
.card-border{
    border:3px solid black;

    margin-bottom: 110px;
}
.location-image{
    height:600px;
    width: 100%;
    border-bottom: 3px solid black;
}
.location-details-width{
    width:1400px;
    margin:0 auto;
}