#logout{
    position: relative;
    left: 1250px;
    bottom: 70px;
}
#title{
    position: absolute;
    bottom: 280px;
    left: 600px;
    color: white;
}

#helloUser {
    position: absolute;
    right: 105px;
    color: lightgoldenrodyellow;
    top: 50px;
}